* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    color: #000;
}
.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
header {
    padding: 50px 0;
    background-color: #e9e1e1;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    &__img {
        display: block;
        border-radius: 50%;
    }
}

.nav-list {
    display: flex;

    &__item {
        list-style: none;
        margin-left: 20px;
        font-weight: 700;
        font-size: 1rem;
        text-transform: uppercase;
        position: relative;
        transition: color .2s linear;

        &:after{
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: #eb6913;
            opacity: 0;

            position: absolute;
            top: 100%;
            left: 0; 

            transition: opacity .2s linear;  
        }
        &:hover{
            color: #e41e1e;
        }
    }
}
.nav-list__item:hover:after{
    opacity: 1;
}
